<nav>
  <div class="nav-wrapper">
    <a href="/home" class="brand-logo" style="padding-left: 50px">Community Post</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down" style="padding-right: 50px">
      <li><a href="/createproject">Create New Post</a></li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
  </div>
</nav>

<div class="homepageImg">
  <section class="headImg"></section>

  <section>
    <div class="container">
      <h3 style="text-align: center">Here is a list of all the current projects</h3>

    </div>
  </section>

  <div id="home">
    <div class="row">

      {{#each list}}

      <div class="col m4">
        <div class="card">
          <div class="card-image">
            <img src={{imageURL}}>
          </div>
          <div class="card-content">
            <span class="card-title">{{title}}</span>
            <p>{{description}}</p>
            <p>{{location}}</p>
          </div>
          <div class="card-action">
            <a style="color: black" href="/viewpost/{{id}}">Find out More</a>
          </div>
        </div>
      </div>

      {{/each}}

    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</div>